.panel-default{
opacity: 1;
padding: 50px;
}

.linkedin{
background: url("/../../assets/images/linkedin.png");
background-size: contain;
}

.aws{
background: url("/../../assets/images/aws-certified-solutions-architect-associate.png");
background-size: contain;
}

.online-resume{
background: url("/../../assets/images/underConstruction.png");
background-size: contain;
}