<html>
<body class="panel-background">
	<div class="container panel panel-default">
		<div class="row">
			<div class="col-6 col-sm-4 grid-align">
				<a href="https://www.linkedin.com/in/dgabanic">
					<div class="rounded-outline linkedin"></div>
				</a>
				<label>My LinkedIn Page</label>
		  	</div>
		  	<div class="col-6 col-sm-4 grid-align">
				<a href="/aws">
					<div class="rounded-outline aws"></div>
				</a>
				<label>My AWS Certifications</label>
		  	</div>
		  	<div class="col-6 col-sm-4 grid-align">
				<div class="rounded-outline in-progress"></div>
				<label>Online resume</label>
		  	</div>
		</div>
	</div>
</body>
</html>