<html>
<body class="panel-background">
	<div class="container panel panel-default">
		<div class="row">
			<a href="https://www.linkedin.com/in/dgabanic">
			<div class="col-6 col-sm-4 grid-align">
				<div class="rounded-outline linkedin"></div>
				<label>My LinkedIn Page</label>
		  	</div>
			</a>
		  	<div class="col-6 col-sm-4 grid-align">
				<div class="rounded-outline aws"></div>
				<label>My AWS Certifications</label>
		  	</div>
		  	<div class="col-6 col-sm-4 grid-align">
				<div class="rounded-outline online-resume"></div>
				<label>Online resume</label>
		  	</div>
		</div>
	</div>
</body>
</html>