<html>
<body class="panel-background">
	<div class="container panel panel-default">
		<br>
		<p>
			I have earned 2 AWS certifications to date: AWS Certified Cloud Practitioner and AWS Certified Solutions Architect - Associate.
			See below for the verification information and fun badges!
		</p>
		<div class="row">
			<img src="/assets/images/aws-certified-solutions-architect-associate.png" height="250">
			<iframe src="/../../../assets/pdf/AWS Certified Solutions Architect - Associate certificate.pdf" width="500px" height="350px"></iframe>
		</div>
		<br>
		<div class="row">
			<img src="/assets/images/aws-certified-cloud-practitioner.png" height="250">
			<iframe src="/../../../assets/pdf/AWS Certified Solutions Architect - Associate certificate.pdf" width="500px" height="350px"></iframe>
		</div>
	</div>
</body>
</html>