@page {
size: 21cm 29.7cm;
margin: 30mm 45mm 30mm 45mm;
}

h1, h3{
text-align: center;
}

ul {
width: 50%;
margin: auto;
}

.navbar {
  background-color: #282828 !important;
}

.panel-background{
/* Light mode: empty */
background-color: #161616 !important;
color: #ffffff !important;
background: url("../assets/images/underConstruction.png") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
}

.panel-default{
/* Light mode: empty */
opacity: 0.85;
background-color: #1c1c1c !important;
margin: auto;
position: absolute;
top: 50%;
width: 100%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.panel-body{
/* Light mode: empty */
background-color: #282828 !important;
}

.panel-info{
width: 80%;
margin: auto;
}

.entry {
/* Light mode: empty */
background-color: #282828 !important;
color: #ffffff !important;
}

.btn-info{
text-transform: lowercase;
}

.images-thumbnail{
text-align: center;
}