<body class="panel-background">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/professional">Professional</a>
        <a class="navbar-brand" href="/personal">Personal</a>
        <a href="https://www.linkedin.com/in/dgabanic"><img class="linkedin-logo" src="/assets/images/linkedin.png"></a>
      </div>
    </nav>
    <router-outlet></router-outlet>
</body>