

h1, h3{
text-align: center;
}

ul {
margin: auto;
padding:0;
}

.container{
  padding-bottom: 15px;
}

@media screen and (min-width: 600px) {
.panel-background{
background: url("../../../assets/images/backgroundDesktop.png") no-repeat center center fixed;
}
.panel-default{
-ms-transform: translateY(-50%);
transform: translateY(-50%);
top: 50%;
}
ul {
width: 50%;
}
}

@media screen and (max-width: 600px) {
.panel-background{
background: url("../../../assets/images/backgroundMobile.png") no-repeat center center fixed;
}

.panel-default{
height:-webkit-fill-available;
}
ul {
width: 100%;
}
}

.panel-default{
/* Light mode: empty */
opacity: 0.75;
background-color: #1c1c1c !important;
margin: auto;
position: absolute;
width: 100%;
}

.panel-body{
/* Light mode: empty */
background-color: #282828 !important;
}

.panel-info{
width: 80%;
margin: auto;
}

.entry {
/* Light mode: empty */
background-color: #282828 !important;
color: #ffffff !important;
}

.btn-info{
text-transform: lowercase;
}

.images-thumbnail{
text-align: center;
}