<html>
<body class="panel-background">
	<div class="container panel panel-default">
		<div class="row">
			<div class="col-6 col-sm-4 grid-align">
				<div class="rounded-outline in-progress"></div>
				<label>TBD</label>
		  	</div>
		  	<div class="col-6 col-sm-4 grid-align">
				<div class="rounded-outline in-progress"></div>
				<label>TBD</label>
		  	</div>
		  	<div class="col-6 col-sm-4 grid-align">
				<div class="rounded-outline in-progress"></div>
				<label>TBD</label>
		  	</div>
		</div>
	</div>
</body>
</html>