/* You can add global styles to this file, and also import other style files */

.navbar {
background-color: #282828 !important;
height:50px;
}

.linkedin-logo {
height:50px;
float:right;
margin: auto;
text-align: right;
top: 50%;
}